.App { 

  text-align: center; 

} 

  

.App-header { 

  background-color: #282c34; 

  min-height: 100vh; 

  display: flex; 

  flex-direction: column; 

  align-items: center; 

  justify-content: center; 

  font-size: calc(10px + 2vmin); 

  color: white; 

} 

  

select { 

  padding: 10px; 

  font-size: 1rem; 

  margin: 20px; 

  border-radius: 5px; 

} 

  

.resultat-temps { 

  margin-top: 20px; 

  padding: 20px; 

  border: 1px solid #61dafb; 

  border-radius: 10px; 

  min-width: 300px; 

  background-color: #3c414e; 

} 

  

.resultat-temps h2 { 

  margin-top: 0; 

  color: #61dafb; 

} 