/* Estilos para el componente App */
/* Estilos para el componente App */
.App {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

p {
  font-size: 24px;
}
