/* Estilos globales */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #333;
}

button {
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #005f5f;
}
